.textview_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.tetview_text {
  background-color: #f3f4f6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 5px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  word-break: break-word;
  animation: text-animate 10s linear infinite;
}

.textview_inner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.textview_sm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

@keyframes text-animate {
  0% {
    background-color: rgba(255, 0, 0, 0.184);
  }

  25% {
    background-color: rgba(0, 0, 255, 0.234);
  }

  50% {
    background-color: rgba(0, 128, 0, 0.445);
  }

  75% {
    background-color: rgba(128, 0, 128, 0.171);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.259);
  }
}
