.header {
  display: flex;
  background-image: linear-gradient(90deg, #327dff, #961dfb);
  padding: 20px;
  color: white;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header_title {
  font-size: 30px;
}

.header_description {
  margin: 0;
}

.header_logo {
  color: #ffffff;
}

.header_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
