.register_panel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  min-width: 350px;
  min-height: 400px;
  max-height: 400px;
  padding: 20px;
  border: 1px solid #cecece;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
}

.register_panel-icon {
  background-color: #000000;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  margin: 0 0 20px;
}

.register_panel-title {
  margin: 0;
}

.register_panel-description {
  margin: 0;
}

.register_form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.register_form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register_form-inner {
  display: flex;
  flex-direction: column;
}

.register_form-label {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.register_form-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.register_form-icon-eye {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.register_form-input {
  padding: 8px 30px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f3f3f5;
}

.register_form-title {
  margin: 0 0 5px;
  font-weight: bold;
}

.register_form-recover {
  margin: 0 0 5px auto;
  font-weight: bold;
}

.register_form-submit {
  width: 100%;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  padding: 8px;
  border: none;
}

.register_form-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.register_form-login-title {
  color: #777777;
}

.register_form-login {
  font-weight: bold;
}
