.textview_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tetview_text {
  background-color: #f3f4f6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 5px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  word-break: break-word;
}

.textview_inner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.textview_sm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
